---
layout: master
---

{% assign page_groups = page.url | split:'/' %}
{% capture route_group_name %}/{{ page_groups[1] }}/{% endcapture %}

<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/google/code-prettify/master/loader/prettify.css">
<style>
	* {
		box-sizing: border-box;
	}

	.toc {
		float: left;
		width: 30%;
		padding: 10px;
	}

    .post-content {
        float: left;
        width: 70%;
        padding: 10px;
    }

	.layout:after {
		content: "";
		display: table;
		clear: both;
	}

	@media screen and (max-width: 600px) {
		.toc {
			width: 100%;
		}
        .post-content {
            width: 100%;
        }    
	}
	</style>
	<script>
	window.onload = function() {
		updateLayout();
	};
	function updateLayout() {
	if(window.innerWidth < 600){
		document.getElementById("tocExpander").removeAttribute("open");
		}
	}
	</script>
	
<div class="layout">
  <div class="toc">
      <details id="tocExpander" open>
          <summary>
              Table Of Content
          </summary>
          {% include navigation.html context=route_group_name %}
      </details>
  </div>
  <article class="post">

      <header class="post-header">
          <h1 class="post-title">{{ page.title | escape }}</h1>
      </header>

      <div class="post-content">
          {{ content }}
      </div>

  </article>
</div>
