{% include head.html %}

<body>
{%- include header.html -%}
<!--
    <header class="site-header" role="banner">

        <div class="wrapper">

            <a class="site-title" href="{{ "/" | relative_url}}"><img alt='{{ site.title | escape }}' src="{{ '/images//cs_banner_micro.png' | relative_url }}"></a>

            <nav class="site-nav">
                <span class="menu-icon" onclick="void(0)">
                    <img src="{{ '/images//mobile-menu.png' | relative_url }}">
                </span>

                <div class="trigger" onclick="void(0)">
                    <a href="{{ '/solidworks-api' | relative_url}}">SW API</a>
                    <a href="{{ '/solidworks-pdm-api' | relative_url}}">SW PDM API</a>
                </div>

            </nav>

        </div>

    </header>
-->
    <hr>
    <main class="page-content" aria-label="Content" style="min-height: 300px">
        <div class="wrapper">
            {{ content }}
        </div>
    </main>
</body>

{% include foot.html %}
